<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Abracadabra</title>
    <%= stylesheet_link_tag "home", :media => "all" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="container" class="header_ct">
        <ul class="logo">
          <h4>願いを叶えてくれる
            <label>特別な</label>
            ウェブアプリケーション
          </h4>
          <%= link_to 'Abracadabra', root_path %>
        </ul>
        <span class="main_title"><label>A</label> B R A C A D A B R A</span>
        <ul class="menu">
          <li class="menu_label">願いをかなう</li>
          <li class="menu_label">願いを叶える</li>
          <li class="menu_label">願いがかなう</li>
          <li class="menu_label_last">企業支援</li>
        </ul>
        <ul class="login_info">
          Guest&nbsp;&nbsp;
          <%= link_to 'Sign up', '/sign_up/select_user' %>
        </ul>
      </div>
    </div>
    <div class="container">
      <div id="cover">
        <label class="title">一般ユーザー申し込み</label>
        <%= render 'form' %>
        <%= link_to 'Back', users_path %>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
